body{
    overflow: hidden;
}
.main{
    position: relative;
    height: 700px;
    background: rgb(242,7,199);
background: linear-gradient(70deg, rgba(242,7,199,0.5223039899553572) 0%, rgba(240,95,12,1) 100%, rgba(246,3,103,1) 100%);
}
.custom-shape-divider-bottom-1663870202 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663870202 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 128px;
}

.custom-shape-divider-bottom-1663870202 .shape-fill {
    fill: #FFFFFF;
}

/* !Image Designing */
.img{
    height: 400px;
    width: 400px;
    padding: 12px;
    margin-left: 15%;
    margin-top: 10%;
}
/* !My form Design Part */
.myform{
    margin-top: 12%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.myform h3{
    font-size: 42px;
    padding: 12px;
    margin-left: 30%;
}
 input{
    background-color: #F57398;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    margin: 10px;
    margin-left: 30%;
    box-shadow: 0px -1px 8px 0px rgba(42,42,42,.75); text-shadow:0px 0px 0px rgba(42,42,42,.75);
}
input:focus{
    outline:none;
}
label{
    margin: 10px;
    margin-left: 30%;
}
button{
    margin: 10px;
    margin-left: 30%;
    margin-bottom: 22px;
    width: 30%;
    padding: 8px;

    box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#201414;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
button:hover{
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
button:focus{
    outline: none;
}